AleoCore.xcframework/ios-arm64/Headers/SwiftBridgeCore.h filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64/libaleo_swift.a filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64_x86_64-simulator/Headers filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64_x86_64-simulator/Headers/module.modulemap filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64/Headers filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/macos-arm64_x86_64/Headers filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/macos-arm64_x86_64/Headers/module.modulemap filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/macos-arm64_x86_64/libaleo_swift.a filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/macos-arm64_x86_64/Headers/SwiftBridgeCore.h filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64 filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64/Headers/aleo-swift.h filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64/Headers/module.modulemap filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64_x86_64-simulator/Headers/SwiftBridgeCore.h filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64_x86_64-simulator/Headers/aleo-swift.h filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/ios-arm64_x86_64-simulator/libaleo_swift.a filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/macos-arm64_x86_64 filter=lfs diff=lfs merge=lfs -text
AleoCore.xcframework/macos-arm64_x86_64/Headers/aleo-swift.h filter=lfs diff=lfs merge=lfs -text
*.xcframework/**/* filter=lfs diff=lfs merge=lfs -text
